.main {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 80vw;
  height: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 30% 70%;
}
.chips {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  overflow: hidden;
  justify-content: flex-end;
}
.cardContainer {
  margin: auto 0;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cardTitle {
  text-align: center;
  font-size: 4.5rem;
}
.progressBar {
  height: 0.5rem;
  border-radius: 0.25rem;
}
.cardActions {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
